#setup_windows, #setup_osx, #setup_linux {
  padding: 1em;
}

#setup_windows {
  background-color: lightyellow;
}
#setup_osx {
  background-color: lightgrey;
}
#setup_linux {
  background-color: lightgreen;
}
